.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-image: url(pxfuel.jpg);
    padding: 10px;
    height: 100vh;
}

.grid-item {
   /*background-color: rgba(255, 255, 255, 0.8);*/
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.box {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    cursor: pointer;
}

.box a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 600px) {
    .box {
        font-size: 0.8em;
    }
}