* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    display: flexbox;
    background-image: url(download.jpeg);
  }
  
  .grid {
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }
  
  .cell {
    background-color: gray;
    height: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cell:hover {
    background-color: peru;
  }

@media (max-width: 768px) {
      .container {
        flex-direction: column;
      }
      
      .grid {
        flex-basis: 100%;
      }
    }
