.grid-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
    gap: 10px;
    background-color: #9df95b;
    padding: 10px;
  }
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}

.c_container {
    text-align: center;
}

