* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-image: url(images/wallpaperflare.com_wallpaper.jpg);
    padding: 10px;
}
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.category {
    background-color: rgb(94, 210, 246);
}

.category h2 {
    text-align: center;
}

.grid-container a {
    color: black;
}