* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-image:url(pxfuel.jpg);
    padding: 10px;
}
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.category {
    background-color: rgb(118, 219, 172);
}

.category h2 {
    text-align: center;
}

.grid-container a {
    color: black;
}

.cell {
    background-color: gray;
    height: 100px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }

  div .cell {
    text-align: center;
    padding-top: 5%;
    font-size: 25px;
  }
  
  .cell:hover {
    background-color: rgb(209, 167, 125);
  }
